.product-item {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: var(--text-light);
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-details {
  padding: 16px;
}

.product-details h2 {
  margin-bottom: 8px;
}

.product-details p {
  margin-bottom: 4px;
}

.add-to-cart-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  margin: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: darkred;
}