.header {
    background-color: #1F1F1F; /* Slightly lighter dark background */
    color: #E0E0E0;
    padding: 20px;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}
