.navbar {
  padding: 20px 0;
  background-color: var(--background-dark);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 28px;
  font-weight: bold;
}

.navbar-links {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  gap: 32px;
}

.nav-link {
  color: var(--text-light);
  text-decoration: none;
}

.navbar-auth {
  display: flex;
  gap: 16px;
}

.logo-break {
  display: block;
}

.user-info {
  position: relative;
  display: flex;
  align-items: center;
}

.user-tab {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-tab span {
  margin-left: 8px;
  font-size: 18px;
  color: var(--text-light);
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: -36px;
  background-color: var(--background-dark);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 150px; /* Increased width */
}

.user-info:hover .user-dropdown {
  display: block;
}

.user-level, .user-point {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.user-level span, .user-point span {
  margin-right: 5px;
}

.user-level span:first-child, .user-point span:first-child {
  font-weight: bold;
  color: var(--primary-color);
}

.user-level span:last-child, .user-point span:last-child {
  color: var(--text-light);
  background-color: var(--background-dark);
  padding: 2px 6px;
  border-radius: 4px;
}

.logout-button {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}