.navbar {
  padding: 20px 0;
  background-color: var(--background-dark);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 28px;
  font-weight: bold;
}

.navbar-links {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  gap: 32px;
}

.nav-link {
  color: var(--text-light);
  text-decoration: none;
}

.navbar-auth {
  display: flex;
  gap: 16px;
}

.logo-break {
    display: block;
}

/* Navbar.css */
.user-info {
  display: block;
  align-items: center;
  gap: 10px;
}

.user-level {
  font-weight: bold;
  font-size: 20px;
  color: #e57373;
  margin-right: 5px; /* Add a small gap */
}

.user-name {
  font-size: 18px;
  color: #e57373;
  font-weight: bold;
  display: block;
}

