.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

body {
  margin: 0;
  background-color: black;
}

.app > .nav-bar > nav > ul {
  display: flex;
  justify-content: center;
}

.main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
